body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  flex-direction: row;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.todol {
  display: flex;
  flex-direction: column;
}

.container2 {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h1 {
	margin-top: 20px;
  text-align: center;
  color: #1877f2;
}

h2 {
  margin-top: 16px;
  margin-bottom: 8px;
  color: #1877f2;
}

input[type="text"],
input[type="date"],
select {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 8px;
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3b5998;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 4px;
}

li span {
  margin-right: 16px;
}

input[type="checkbox"] {
  margin-right: 8px;
}

form {
  display: flex;
  align-items: center;
}

form input[type="text"],
form input[type="date"],
form select {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  padding: 8px;
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #3b5998;
}

#addTodoForm {
  display: flex;
  flex-wrap: wrap; /* Allow elements to wrap to the next line when needed */
  gap: 8px; /* Add some spacing between form elements */
}

#subtaskInput,
button {
  flex: 1; 
}

#subtaskList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


#subtaskList li {
  margin: 4px 0; 
}


.edit-form {
  display: flex;
  flex-direction: column;
}

.subtasks {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.subtask-input,
.add-subtask-button {
  margin-bottom: 8px;
}

li {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin: 8px 0;
  color: #1877f2;
  font-weight: bold;
}

.reminder-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.close-btn {
  margin-top: 5px;
  background-color: #ffffff;
  color: #ff0000;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
}




